@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-8">
        <a asp-controller="Cookie" asp-action="Index" class="btn btn-dark">Cookies</a>
        <a asp-controller="Session" asp-action="Index" class="btn btn-dark">Sessions</a>
        <a asp-controller="LocalStorage" asp-action="Index" class="btn btn-dark">Local Storage</a>
    </div>
</div>